
.container{
  display: inline-flex;
}
.salto{
  margin-right: 10px;
}
.p, .c, .and, .s{
  width: 30px;
  display: block;
  overflow: hidden;
  padding: 0;
  min-width: 30px;
}
.p:hover, .c:hover, .s:hover{
  width: 100%;
  transition: 2s;
}
